body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #22c55e;
  color: gray;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.site_title {
  font-style: italic;
}

.grid {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: rgb(59, 21, 95);
  padding: 20px;
  border-radius: 20px;
  overflow: auto;
}

.card {
  width: 300px;
  height: 150px;
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fallback {
  background: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: start;
}

.info h3 {
  margin: 0;
}

.role {
  opacity: 0.7;
  font-size: 14px;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.badge.active {
  background: #22c55e;
}

.badge.inactive {
  background: #ef4444;
}
