.actions {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.btn {
  border: none;
  border-radius: 8px;
  width: 80px;
  cursor: pointer;
  background-color: beige;
}

.btn:hover {
  background-color: rgb(177, 177, 153);
}

.list_note_item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}

.list_note_item:nth-child(even) {
  background-color: rgb(46, 48, 49);
}

.list_note_item:nth-child(odd) {
  background-color: rgb(36, 39, 43);
}

.list_note_item:hover {
  background-color: rgb(116, 126, 126);
}

.edit_section {
  display: flex;
  gap: 8px;
}

.edit_section input,
.edit_section textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.edit_section input:focus,
.edit_section textarea:focus {
  outline: none;
}

.edit_section button {
  width: 80px;
  border: none;
  border-radius: 8px;
  background-color: beige;
  padding: 10px;
  color: black;
}

.btn_danger {
  background: #e74c3c;
  color: white;
}

.btn_danger:hover {
  background: #d34636;
}

.edit_section button:hover {
  background-color: rgb(206, 206, 182);
}

.pinned {
  border-left: 5px solid gold;
  background-color: #fffbea;
}

.pin_btn {
  background-color: #e0e0e0;
}

.pin_btn:hover {
  background-color: #cfcfcf;
}

.active_pin {
  background-color: gold;
  color: black;
  font-weight: bold;
}
