.reducer_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reducer_div {
  border: 1px solid gray;
  background-color: rgb(23, 23, 43);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: 450px;
}

button {
  margin-right: 4px;
  padding: 6px 10px;
  background-color: beige;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(219, 219, 191);
}

input {
  margin-right: 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: none;
}

