.container {
    width: 80px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

.success {
    background-color: green;
    color: black;
}
.success:hover {
    background-color: rgb(72, 82, 72);
}

.alert {
    background-color: red;
    color: black;
}
.alert:hover {
    background-color: rgb(134, 53, 53);
}

.normal {
    background-color: rgb(85, 85, 156);
    color: black;
}
.normal:hover {
    background-color: rgb(76, 76, 134);
}