* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  display: grid;
  grid-template-columns: 500px 900px;
  gap: 40px;
  margin-top: 40px;
  height: 100vh;
}

h1 {
  text-align: center;
  background-color: goldenrod;
  color: gray;
  padding: 12px 20px;
}
