body {
  background: rgb(29, 20, 20);
}

.main_container {
  display: flex;
}

.form_container {
  background: #1e293b;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.form_container h2 {
  margin-top: 14px;
  margin-bottom: 20px;
  color: #38bdf8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  width: 100%;
  height: 410px;
  padding-left: 30px;
  padding-right: 20px;
}

.gender {
  display: flex;
  gap: 8px;
}

.skills {
  display: flex;
  gap: 8px;
}

.btn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 8px 12px;
  background: blueviolet;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: rgb(43, 43, 88);
}

input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  background: #334155;
  width: 80%;
}

input:focus {
  border: 1px solid #38bdf8;
}

input[type='range'] {
  accent-color: #38bdf8;
  padding: 0;
}

label {
  font-size: 18px;
  color: #cbd5f5;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 10px;
  width: 70%;
}
