.about_section {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 15px 0;
  gap: 20px;
}

.about_link {
  color: white;
  font-size: 20px;
}
