ul {
  margin-top: 10px;
  list-style: none;
}

input {
  padding: 6px 10px;
  margin-right: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.todo_container button {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: beige;
  margin-right: 5px;
}
