* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; 
  /* background-color: red; */
}

body {
  background-color: rgb(56, 54, 54);
  min-height: 100vh;
  color: white;
}

.nav_container {
  background-color: green;
  position: sticky;
  top: 0;
}

.route_container {
  height: 100vh;
  border: 1px solid rgb(88, 86, 86);
}

.nav_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  gap: 20px;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
