* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.helmet_nav_bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: goldenrod;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.helmet_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: black;
}

.parent_helmet_container {
  display: flex;
  justify-content: center;
}

.list_helmet_container {
  width: 900px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  background-color: #1e293b;
  padding: 20px 10px;
  border-radius: 20px;
  overflow: auto;
}

.product_list_item {
  width: 600px;
  background: #1e293b;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
}

.product_link {
  color: black;
  text-decoration: none;
}

.product_link h2 {
  margin-bottom: 5px;
  color: beige;
}

.product_link p {
  font-size: 18px;
  color: aqua;
}

.product_details_container {
  width: 100%;
  height: 700px;
  margin-top: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_details {
  margin-top: 20px;
}

.product_details p {
  margin-bottom: 4px;
}

.helmet_products_list {
  width: 900px;
  height: 700px;
  overflow: auto;
  margin-top: 10px;
  list-style: none;
  background-color: rgb(69, 33, 104);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.product_title {
  margin-top: 20px;
  color: goldenrod;
}
