.container {
  margin: auto;
}

.app {
  width: 950px;
  max-height: 750px;
  margin: auto;
  background-color: rgb(49, 15, 80);
  padding: 20px;
  border-radius: 20px;
}

.app_title {
  text-align: center;
  background-color: rgb(22, 22, 180);
  padding: 12px 20px;
  color: gray;
  width: 100%;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: gray;
}

.delete_btn {
  width: 100px;
  background-color: rgb(148, 25, 25);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid lightgray;
  border-top: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.error_box {
  text-align: center;
  color: red;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  background-color: beige;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}

.pagination button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
