.redux_app_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.redux_app {
  width: 600px;
  height: 600px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(23, 23, 43);
}
