* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom_container3 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: rgb(56, 54, 54);
  min-height: 100vh;
  color: white;
}

.main_container {
  display: flex;
  /* border: 1px solid white;
  height: 100vh; */
}

/* Sidebar */
.nav_container3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(56, 54, 54);
}

/* Links */
.list_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 18px;
}

/* Main content */
.route_container3 {
  margin-left: 260px;
  padding: 20px 0;
  width: 100%;
  /* min-height: 100vh; */
}

.nav_link3 {
  color: white;
  font-size: 20px;
}
