* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(31, 29, 29);
  min-height: 100vh;
  color: white;
}

.main_container {
  display: flex;
}

/* Sidebar */
.nav_container3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  background-color: black;
}

/* Links */
.list_container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 14px;
}

/* Links */
.nav_link3 {
  color: white;
  font-size: 14px;
}

/* Main content */
.route_container3 {
  margin-left: 260px;
  width: 100%;
}

/* Custom Container */
.custom_container3 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
