.app {
  font-family: Arial;
}

.navbar {
  background: #222;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 18px;
  margin-top: 20px;
}
