* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar h1 {
  background-color: goldenrod;
  padding: 12px 20px;
  text-align: center;
  color: gray;
  width: 100%;
}

.navbar {
  width: 100%;
}

.app {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.navbar {
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.grid {
  display: flex;
  gap: 10px;
  width: 1020px;
  height: 600px;
  background-color: rgb(124, 33, 124);
  padding: 20px;
  border-radius: 20px;
}

.error-box {
  border: 1px solid red;
  padding: 20px;
  background: #ffe6e6;
  border-radius: 10px;
  text-align: center;
}

.card {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  color: gold;
  width: 400px;
  height: 400px;
  background-color: rgb(69, 19, 116);
}

.card h3 {
  margin-bottom: 8px;
}

input {
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 2px;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 4px;
}

.btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background: rgb(1, 1, 226);
}
