* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  background: #f5f5f5;
  color: #111;
}

body.dark {
  background: #0f172a;
  color: white;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_title {
  background-color: goldenrod;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 40px;
}

.grid {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 1000px;
  height: 700px;
  overflow: auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 466px;
  height: 386px;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(107, 77, 77);
  overflow: auto;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: beige;
}

button:hover {
  background-color: rgb(216, 216, 184);
}

ul {
  list-style: none;
  padding: 0;
}
