.form_container {
  margin-top: 10px;
  width: 400px;
  height: 460px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
  color: rgb(187, 174, 174);
}

h2 {
  text-align: center;
  color: rgb(143, 134, 134);
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_row label {
  width: 80px;
}

.form_row input {
  flex: 1; /* 👈 input takes remaining space */
  padding: 8px;
  border-radius: 10px;
  border: none;
  background: rgb(49, 47, 47);
  color: rgb(230, 219, 219);
}

.form_row input:focus {
  outline: none;
}

.login_btn {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.signup_btn {
  background: transparent;
  color: rgb(97, 97, 167);
  border: none;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: rgb(95, 72, 72);
  padding: 20px;
  border-radius: 20px;
}

.btn_container span {
  color: rgb(202, 191, 191);
}
