.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
  border: none;
  color: white;
}

.user_list {
  list-style: none;
}

.home_link {
  color: white;
  font-size: 20px;
}
